<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <?define GuidTktBridgeAP=3dee3591-bc1b-4043-99a4-9e081206ca26 ?>

    <?if $(var.Platform)=x64 ?>
    <?define Win64=yes ?>
    <?define LegacyPlatform=i386 ?>
    <?define PlatformSystemFolder="System64Folder" ?>
    <?define PlatformProgramFilesFolder="ProgramFiles64Folder" ?>
    <?else?>
    <?define Win64=no ?>
    <?define LegacyPlatform=AMD64 ?>
    <?define PlatformSystemFolder="SystemFolder" ?>
    <?define PlatformProgramFilesFolder="ProgramFilesFolder" ?>
    <?endif?>

    <?define BinDir="$(var.SolutionDir)$(var.OutDir)..\..\$(var.Configuration)" ?>
    
    <?define HeimdalRedist="..\..\heimdal\out\sdk\redist" ?>
    <?define HeimdalModule="$(var.HeimdalRedist)\$(var.LegacyPlatform)\Heimdal.msm" ?>

    <?define Version="0.1.0.0" ?>

    <Product Name="!(loc.ProductName) $(var.Version)"
             Id="*" UpgradeCode="a7067991-680d-4ddc-bb74-d07b1b9b0aed"
             Language="!(loc.LanguageCode)" Codepage="1252" Version="$(var.Version)"
             Manufacturer="!(loc.Manufacturer)">
        <Package Description="!(loc.Description)"
                 Manufacturer="!(loc.Manufacturer)"
                 Platform="$(var.Platform)"
                 InstallerVersion="300" Languages="!(loc.LanguageCode)"
                 Compressed="yes" SummaryCodepage="1252" />

        <Media Id="1" Cabinet="Disk1" CompressionLevel="high" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir" DiskId="1">
            <Merge Id="M_Heimdal" Language="0" SourceFile="$(var.HeimdalModule)" />
        </Directory>

        <?include "TktBridgeAP.wxi" ?>
        <?include "Registry.wxi" ?>
        <?include "EventManifest.wxi" ?>

        <Upgrade Id="a7067991-680d-4ddc-bb74-d07b1b9b0aed">
            <UpgradeVersion IncludeMaximum="no" MigrateFeatures="yes" Maximum="$(var.Version)"
                            Property="PREVIOUSINSTALLATION" />
            <UpgradeVersion Minimum="$(var.Version)" IncludeMinimum="yes"
                            Maximum="127.127.32767.32767"
                            OnlyDetect="yes" Property="EXISTINGINSTALLATION" />
        </Upgrade>

        <Condition Message="!(loc.AdminRequired)">Installed OR Privileged</Condition>
        <Condition Message="!(loc.AlreadyInstalled)">Installed OR NOT EXISTINGINSTALLATION</Condition>
        <Condition Message="This application is only supported on Windows 10 or higher.">
            <![CDATA[Installed OR (VersionNT >= 1000)]]>
        </Condition>

        <Feature Id="F_TktBridgeAP"
                 Title="!(loc.FeaMainTitle)"
                 Description="!(loc.FeaMainDesc)" Display="expand"
                 Level="1" TypicalDefault="install" InstallDefault="local">
            <MergeRef Id="M_Heimdal" />
            <ComponentRef Id="C_TktBridgeAP" />
            <ComponentRef Id="C_TktBridgeAPRegistry" />
            <ComponentRef Id="C_TktBridgeAPEventManifest" />
        </Feature>

        <!-- Properties for Add/Remove Programs -->
        <Property Id="ARPHELPLINK" Value="https://www.padl.com/" />
        <Property Id="ARPCONTACT" Value="dev@padl.com" />
        <Property Id="ARPURLINFOABOUT" Value="https://www.padl.com/" />

        <!-- Other properties -->
        <Property Id="ALLUSERS" Value="1" Secure="yes" />
        <Property Id="TktBridgeAPFlags" Value="0" />
<!--        <UIRef Id="WixUI_FeatureTree" /> -->

        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallFinalize" />
            <Custom Action="CA_SetLegacyLsaPackagesKey" Before="WriteRegistryValues"></Custom>
            <ScheduleReboot After="InstallFinalize" />
        </InstallExecuteSequence>
    </Product>

</Wix>